includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 5
	paths:
		- beer-journal.php
		- includes
		- admin
		- public
	scanFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor/php-stubs/wordpress-globals/wordpress-globals.php
